<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="//www.brandcrowd.com/logo_details.php" />	<title>Human kidney Designed by user1512730669 | BrandCrowd</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Human kidney | Logo Design by user1512730669 | Price: $49.00 | Incl Files: EPS | Tags: biology, body, cancer, disease, health, healthcare, human body, human kidney, kidney, kidney stones" />
	<meta name="verify-v1" content="dZRJeGtp02hok0ojkha+Xdnin++08rG/0m8VJ5mfl8s=" />
	<meta name="google-site-verification" content="otMOyyGk-ddejPlPGHeL-AA1gR01VROII5W72SdKMwk" />
	<link href='https://fonts.googleapis.com/css?family=Cabin|Shadows+Into+Light&v2' rel='stylesheet' type='text/css'>
	<link rel="SHORTCUT ICON" href="/favicon.ico" />
	<link rel="canonical" href="https://www.brandcrowd.com/logo-design/details/188666" />

	<script type="text/javascript" src="https://use.typekit.com/ifj4lav.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link href="/res/c/users-core.css?h=83980fe0a8add0b3256668e6e5191c5776d7c17a" rel="stylesheet" type="text/css" />
<link href="/res/c/pg-logo-details.css?h=9ce70003060c6bdcc5143dadc9902294e979f735" rel="stylesheet" type="text/css" />
<script src="/res/c/users-core.js?h=3a206840e26fa349ba68b7c031a335981f780a80" type="text/javascript"></script>
<script src="/res/c/pg-logo-details.js?h=54e606f54c976a841753369d1a1587dd8b6736dc" type="text/javascript"></script>
<script type="text/javascript">BrowseAll.starter("logos");</script>


<script type="text/javascript" language="javascript">
	var user_id = null;
	var user_role_main = null;
	var user_type = null;
	ITcraft.onReady(SearchMain.init, SearchMain);
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28278524-1']);
  _gaq.push(['_setDomainName', '.brandcrowd.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://www.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28278524-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-28278524-2');
</script>

<script>
(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"20060740"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
</script>

<!--[if IE]>

	<style type="text/css">
	.btn_header_consultation {
		background: url(/img/btn-red165.png) no-repeat left top;
		height: 25px;
		width: 165px;
		border: none;
		cursor: pointer;
		color: white;
		font-size: 11.5px;
		text-align: left;
		line-height: 25px;
		margin: 0px -15px;
		margin-left:25px;
		padding-right:10px;
		vertical-align:bottom;
		font-weight: bold;
	}
	</style>

<![endif]-->


<style type="text/css">
	.btn_header_consultation {
		background: url(/img/btn-red165.png) no-repeat left top;
		height: 25px;
		width: 165px;
		border: none;
		cursor: pointer;
		color: white !important;
		font-size: 11.5px;
		text-align: center;
		line-height: 25px;
		margin: 0px -15px;
		margin-left:25px;
		display: inline-block;
		font-weight: bold;
	}

	a.btn_header_consultation:hover {
		text-decoration: none !important;
	}
	
	.crumbs
	{
		overflow: auto;
		margin: 10px 0;
	}

	.crumbs li
	{
		float: left;
		list-style: none;
		margin-right: 4px;
	}
</style>


<meta property="og:url" content="https://www.brandcrowd.com/logo-design/details/188666"/>
<meta property="og:image" content="https://www.brandcrowd.com/gallery/brands/pictures/picture1516900981455.jpg"/>
<link href="https://www.brandcrowd.com/gallery/brands/pictures/picture1516900981455.jpg" rel="image_src">


</head>

<body onload="ITcraft._onPLoad();">

<div class="wrap_container">
	<div class="wrap_container_inner">
		<div id="header">
			<a id="logo" href="/"></a>
			<div style="color:#FFF; float:right; font: bold 13px 'myriad-pro-1','myriad-pro-2','Myriad Pro','Helvetica','serif';">
				<table style="margin: 15px 13px 0px 13px;">
				<tr>
					<td>
						<img width="20" height="23" style="margin-bottom:-4px;" src="https://brandcrowd.com/img/phone_2.png" alt="Call Us" />
						<span style="font-size: 13px; padding-left:4px;padding-right:10px">1. 800. 30. 30. 546</span>

						<a style="text-decoration:none" href="https://brandcrowd.com/contact"><img width="25" height="17" style="margin-bottom:-4px; " src="https://brandcrowd.com/img/mail_icon.png" alt="Request a consultation" />
						<span style="font-size: 13px; padding-left:7px;text-decoration:none;color:#FFF">Email</span></a>
						<a class="btn_header_consultation" href="/maker">Logo Maker (FREE to use)</a>
					</td>
				</tr>
				</table>
	    		</div>
			<div id="header-links" style="margin-top:40px">
				<ul>
									<li><a href="/users/register/" class="no-border">Create a Free Account</a></li>
					<li><a href="/login/">Log In</a></li>
								</ul>
			</div>

			<div id="mainmenu">
				<ul>
					<li><a href="https://www.brandcrowd.com/maker">Logo Maker</a></li>
					<li class="active"><a href="/logo-design/">Buy Logo Designs</a></li>
					<li><a href="/tour/sell-logo-designs/">Sell Logo Designs</a></li>
					<li><a href="/domain-names/" title="Domain Names">Domain Names</a></li>
					<li><a href="/faq_main" title="FAQ">FAQ</a></li>

				</ul>
			</div>

			<div id="mainsearch">
				<form action="/logo-design/search/all/" method="post" onsubmit="return SearchMain.submit_()">
					<input type="hidden" name="cmd" value="ssearch" />
					<div style="float:left">
						<input type="text" class="sField" id="search_contener_header" placeholder="Search by keywords (e.g. red Lion logo)" name="search_string" title="Find a Logo Design" />
					</div>
					<input type="submit" class="sButton" value="Search" title="Find a Logo Design" />
					<div class="clear"></div>
				</form>
			</div>
		</div>

		<div class="container-bg">
			<div class="container">
	
		<script>
		var _gaq = _gaq || [];
		 _gaq.push(['_setCustomVar',
			  1,                   // This custom var is set to slot #1.  Required parameter.
			  'Customer Type',     // The name acts as a kind of category for the user activity.  Required parameter.
			  'Standard',               // This value of the custom variable.  Required parameter.
			  2                    // Sets the scope to session-level.  Optional parameter.
		   ]);
		_gaq.push(['_trackEvent',
			'CustomerType', // category of activity
			'Standard', // Action
		]);

		(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"20060740"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
		</script>
	


<div class="main">
	<h1 class="ld_h1">Logo Design - Human kidney</h1>
	<h2>This stunning logo design was created by user1512730669</h2>
	<div class="col_left">
		<ul class="crumbs">
			<li><a href="/">Home</a></li>
			<li>&gt;</li>
			<li><a href="/logo-design">Buy Logo Designs</a></li>
			<li>&gt;</li>
			<li><a href="https://www.brandcrowd.com/logo-design/details/188666">Human kidney</a></li>
		</ul>
		<div class="wrap">
			<div class="brand_details">
				<div class="f_l w_340"  style="overflow:visible">
					<div class="brand_bigger"  style="overflow:visible">
						<a class="main-pic"><img id="main_logo_image" src="https://www.brandcrowd.com/gallery/brands/pictures/picture1516900981455.jpg" alt="Logo Design - Human kidney" /></a>
						<div class="options" style="padding-left:15px;">
															<a class="ico-link2 favoriteit" onclick="BrowseAll.addToFav(188666,this,false,true)">Add to Favorites</a>
																						<a class="ico-link2 customize" onclick="BrowseAll.makeOffer(188666)">Customize It</a>								
							
							<div class="clear"></div>
						</div>
							<div class="social_like" style="overflow:visible; padding-left:4px">

						<table><tr><td>

						
						 <script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
						 <fb:like href="https://www.brandcrowd.com/logo-design/details/188666"  style="width:87px; z-index:4000;" layout="button_count" show_faces="false" font="trebuchet ms"></fb:like>
					
						</td><td>

																			<div class="twitter_share_button" style="width:95px"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="brand_crowd">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script></div>


						</td><td>
													<div class="g_share_button" style="width:75px">
														
														<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
														<g:plusone size="medium" annotation="bubble"></g:plusone>
														
													</div>

						</td><td>

						
											<a class="pin-it-button" count-layout="horizontal" 
													href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.brandcrowd.com%2Fgallery/brands/pictures/picture1516900981455.jpg&description=Human kidney%20Logo%20design%20-%20Human kidney logo for brand%20Price%20%2449.00&media=http%3A%2F%2Fwww.brandcrowd.com%2Fgallery/brands/pictures/picture1516900981455.jpg">
													<img border="0" src="https://assets.pinterest.com/images/PinExt.png" title="Pin It" />
													</a>
												
													<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

						</td></tr></table>

						</div>											<div class="available_brand">
							<div class="cont">
								<h4>Different Views <span class="brackets">( 2 )</span></h4>
																											<a class="brand-ico selected_ico" onclick="BrowseAll.variations.changeSRC('gallery/brands/pictures/picture1516900981455.jpg',this)"><img src="gallery/brands/thumbs/thumb15172206208343.jpg" alt="" /></a>
																			<a class="brand-ico" onclick="BrowseAll.variations.changeSRC('gallery/brands/pictures/picture15169009812287.jpg',this)"><img src="gallery/brands/thumbs/thumb15172233615667.jpg" alt="" /></a>
																									<div class="clear"></div>
							</div>
						</div>
						<div style="display: none;">
													<img src="gallery/brands/pictures/picture1516900981455.jpg" alt="" />
													<img src="gallery/brands/pictures/picture15169009812287.jpg" alt="" />
												</div>
											</div>
				</div>
				<!-- brand info on the right side of the picture -->
				<div class="f_r w_290">
											<div class="details-item no-border" style="padding:0;margin:-5px 0 67px;">
																					<div class="f_l">
																			<a onclick="BrowseAll.addToSC(188666)" class="link_btn btn_add">Buy Now</a>
																	</div>
								<div class="f_r">
									<a class="btn-grey92 pointer" onclick="BrowseAll.makeOffer(188666)">Make an Offer</a>
								</div>
								<div class="clear"></div>
																			</div>
					
					
										<div class="details-item">
						<h3>Is a Domain Name included?</h3>
													No
											</div>
					
										<div class="details-item">
						<h3>Get these files when you buy:</h3>
						<h6>
													EPS												</h6>
												<a class="pointer" onclick="BrowseAll.onFilesDetails()">What does this mean?</a>
					</div>
										
					
					
				</div>
				<div class="clear"></div>
			</div>

			<div class="details-item">
				<h3>In the designer's words:</h3>
				<p>Human kidney logo for brand</p>
				&nbsp;
			</div>
			<div><br />
			<h3>How Buying on BrandCrowd Works:</h3>
			1. The logo you buy can only be sold one time, so it's yours and only yours.<br />
			2. We can customize any logo to show your company name. Just let BrandCrowd or the designer know what you want changed by clicking the "Customize" button before you buy.<br />
			3. Receive industry standard source files to use on websites, business cards, merchandise, and more!<br />
			&nbsp;
			</div>
			
				<div style="position: relative;">
	<h2>Comments</h2>
	<div class="details-item">
		<h3>Speak up! <span class="brackets">there are <span id="total_messages_container">0</span> Responses to Human kidney logo</span></h3>
	</div>
		<div class="speakup">
		<div class="messages" id="message_board_comments"></div>
		<h2>Leave a Reply</h2>
		<form action="/ajax/feedbacks.php" method="post" id="messageBoard_form">
			<input type="hidden" name="cmd" value="add_feedback" />
			<input type="hidden" name="type" value="brand" />
			<input type="hidden" name="object_id" value="188666" />
							<div class="alert">
					You must be logged in to add your feedback. <a onclick="UserAction.userLogin();" class="pointer">Log In</a> or <a href="/users/register/">Sign Up</a> now.
				</div>
					</form>
		<br />
		<div id="ajax_pager_container"></div>
	</div>
</div>
<script type="text/javascript" language="javascript">var MB = new FeedbacksMessageBoard({"type":"brand","object_id":188666});</script>			
		</div>
	</div>
	<div class="col_right_details">
		<div class="wrap">
			<div class="grey-box">
				<div class="brand_details details-item">
					<h3>Designed by</h3>
					<div class="user-ico f_l">
						<a href="/users/profile/user1512730669" class="text_20">
							<img src="gallery/users/thumbs/thumb15127332786667.jpg" alt="" />
						</a>
					</div>
					<div class="f_l">
						<a href="/users/profile/user1512730669" class="text_20">user1512730669</a>
					</div>
					<div class="clear"></div>
				</div>

								<div style="position: relative;">
					<h3>More From This Designer</h3>
				</div>
				<div class="brand_details">
											<a class="brand-ico" href="/logo-design/details/261302" title="GREEN ENERGY LOGO"><img src="gallery/brands/thumbs/thumb15692515322082.jpg" alt="" /></a>
											<a class="brand-ico" href="/logo-design/details/261301" title="GREEN ENERGY LOGO"><img src="gallery/brands/thumbs/thumb15692515328705.jpg" alt="" /></a>
											<a class="brand-ico" href="/logo-design/details/261300" title="gaz logo "><img src="gallery/brands/thumbs/thumb15692515333136.jpg" alt="" /></a>
											<a class="brand-ico" href="/logo-design/details/261298" title="Real Estate  logo"><img src="gallery/brands/thumbs/thumb15692515334836.jpg" alt="" /></a>
											<a class="brand-ico" href="/logo-design/details/261297" title="wave logo design"><img src="gallery/brands/thumbs/thumb1569251533158.jpg" alt="" /></a>
											<a class="brand-ico" href="/logo-design/details/253895" title="Guitar Love"><img src="gallery/brands/thumbs/thumb15632028864375.jpg" alt="" /></a>
										<div class="clear"></div>
				</div>
				
							</div>

			<div class="details-item">
				<h3>Ideal for these industries</h3>
				<p class="dark_blue"><a href="/logo-design/categories/healthcare_and_physician/" title="Healthcare & Physician Logo Designs">Healthcare & Physician</a><br><a href="/logo-design/categories/pharmaceutical_and_bio_tech/" title="Pharmaceutical & Bio Tech Logo Designs">Pharmaceutical & Bio Tech</a><br><a href="/logo-design/categories/general__good_for_any_industry_/" title="General Logo Designs">General</a></p>
			</div>

						<div class="details-item">
				<h3>Tags that describe this logo</h3>
									<a href="/logos/tags/biology">biology</a>, 									<a href="/logos/tags/body">body</a>, 									<a href="/logos/tags/cancer">cancer</a>, 									<a href="/logos/tags/disease">disease</a>, 									<a href="/logos/tags/health">health</a>, 									<a href="/logos/tags/healthcare">healthcare</a>, 									<a href="/logos/tags/human%20body">human body</a>, 									<a href="/logos/tags/human%20kidney">human kidney</a>, 									<a href="/logos/tags/kidney">kidney</a>, 									<a href="/logos/tags/kidney%20stones">kidney stones</a>							</div>
						<div class="details-item no-border">
			<a class="pointer" onclick="BrowseAll.reportThis(188666)"><em>Report this logo design</em></a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<link rel="stylesheet" type="text/css" href="/css_new/templateDialog.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
$.noConflict();
</script>
<script src="/js/templateDialog.js"></script>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="cont">
			<div class="box">
				<div>
					<a href="/maker" class="first">Logo Maker</a>
					<a href="/logo-design/">Buy Designs</a>
					<a href="/tour/sell-logo-designs/">Sell Designs</a>
					<a href="/maker/logo-ideas">Logo Ideas</a>
					<a href="/page/legal-stuff">Legal</a>
									<a href="/users/register/">Sign Up</a>
					<a href="/login/">Log In</a>
					<a href="/contact_us/">Contact us</a>
									<span style="color:#666; margin-left:10px; padding-left:10px; border-left:1px solid #444; font-weight:normal; font-size:1.15em; cursor:normal;">Need Custom Design?</span>
					<span style=" color:#666; margin-left:3px; padding-left:3px; border-left:0px solid #444; font-weight:normal; font-size:1.15em; cursor:normal;">Try </span>
					<a href="https://www.designcrowd.com" style=" color:#666; margin-left:0px; padding-left:0px; border-left:0px solid #444; font-weight:normal; text-decoration:underline; font-size:1.15em; cursor:pointer;">DesignCrowd.com</a>
				</div>
				<div style="margin-top:12px;">
					<div class="text first">Copyright &copy; 2011 BrandCrowd </div>
					<div class="text">All Rights Reserved.</div>
					<div class="text">All individual works are copyright protected by their respective owners & contributors.</div>
					<div class="clear"></div>
				</div>
				<div>
					<div class="text first">BrandCrowd is handcrafted from around the world & headquartered in Sydney, Australia.</div>
										<div class="clear"></div>
				</div>
			</div>
			<div id="statsContainer">
							</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

 
<script src="https://static.getclicky.com/105258.js" type="text/javascript"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="https://static.getclicky.com/105258-db15" /></p></noscript>



</body>
</html>